@import "tailwindcss";

@theme {
  --color-brand-orange: #F3A733;
  --color-brand-text: #202939;
  --color-brand-bg: #F0F4F8;
  --color-brand-blue: #E6F7FF;
  --color-brand-teal: #009688;
}

/* Custom Scrollbar for Kanban Board Columns */
.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}
.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}
.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: rgba(156, 163, 175, 0.5);
  border-radius: 20px;
}
